<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre de Usuario</ion-label>
            <ion-input [(ngModel)]="usuario" placeholder="Ingresa tu nombre de usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" placeholder="Ingresa tu nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" placeholder="Ingresa tu apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nivel de Educación</ion-label>
            <ion-select [(ngModel)]="nivelEducacion" placeholder="Selecciona">
              <ion-select-option value="Primaria">Primaria</ion-select-option>
              <ion-select-option value="Secundaria">Secundaria</ion-select-option>
              <ion-select-option value="Tecnica">Educación Técnica</ion-select-option>
              <ion-select-option value="Profesional">Educación Profesional</ion-select-option>
              <ion-select-option value="Superior">Educación Superior</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item (click)="openDateTimePicker()">
            <ion-label position="stacked">Fecha de Nacimiento</ion-label>
            <ion-input [(ngModel)]="fechaNacimiento" readonly placeholder="Selecciona tu fecha">
              <ion-icon slot="end" name="calendar"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
          </ion-item>
        </ion-list>

        <!-- Modal for DateTime Picker -->
        <ion-modal [isOpen]="showDateTime" (ionModalDidDismiss)="closeDateTimePicker()">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Selecciona una Fecha</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="closeDateTimePicker()">Cerrar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-datetime [(ngModel)]="fechaNacimiento" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-button expand="full" (click)="register()">Registrar</ion-button>
        <ion-label *ngIf="mensaje" color="danger">{{mensaje}}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

