<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre de Usuario</ion-label>
            <ion-input [(ngModel)]="usuario" placeholder="Ingresa tu nombre de usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" placeholder="Ingresa tu nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" placeholder="Ingresa tu apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nivel de Educación</ion-label>
            <ion-select [(ngModel)]="nivelEducacion" placeholder="Selecciona">
              <ion-select-option value="Primaria">Primaria</ion-select-option>
              <ion-select-option value="Secundaria">Secundaria</ion-select-option>
              <ion-select-option value="Tecnica">Educación Técnica</ion-select-option>
              <ion-select-option value="Profesional">Educación Profesional</ion-select-option>
              <ion-select-option value="Superior">Educación Superior</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" placeholder="Selecciona tu fecha de nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ion-item>

          <ion-item >
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="register()">Registrar</ion-button>
        <ion-label *ngIf="mensaje" color="danger">{{ mensaje }}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>