<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre de Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="usuario" placeholder="Ingresa tu nombre de usuario"
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="nombre" placeholder="Ingresa tu nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" type="text" placeholder="Ingresa tu apellido" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tipo de Usuario</ion-label>
            <ion-select [(ngModel)]="tipoUsuario" placeholder="Selecciona" required>
              <ion-select-option value="Estudiante">Estudiante</ion-select-option>
              <ion-select-option value="Profesor">Profesor</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha de Nacimiento</ion-label>
            <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
              <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento"
                placeholder="Selecciona tu fecha de nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password" placeholder="Ingresa tu contraseña" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="register()">Registrar</ion-button>
        <!-- Modificación aquí para cambiar el color del mensaje -->
        <ion-label *ngIf="mensaje" [color]="isSuccess ? 'success' : 'danger'">{{ mensaje }}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>