<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuarios Registrados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="users && users.length > 0; else noUsers">
        <ion-item *ngFor="let user of users">
          <ion-label>
            {{ user.usuario }} - {{ user.nombre }} {{ user.apellido }}
          </ion-label>
          <ion-button color="danger" (click)="deleteUser(user.usuario)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <!-- Display if no users exist -->
      <ng-template #noUsers>
        <ion-item>
          <ion-label>No hay usuarios registrados.</ion-label>
        </ion-item>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
