<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuarios Registrados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let user of users">
          <ion-label>
            {{ user.usuario }} - {{ user.nombre }} {{ user.apellido }}
          </ion-label>
          <ion-button color="danger" (click)="deleteUser(user.usuario)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
