<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Edición de Perfil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input [(ngModel)]="nombre" name="nombre" placeholder="Ingresa tu nombre" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input [(ngModel)]="apellido" name="apellido" placeholder="Ingresa tu apellido" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Fecha de Nacimiento</ion-label>
              <ion-input [(ngModel)]="fechaNacimiento" name="fechaNacimiento" type="date" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input [(ngModel)]="contrasena" name="contrasena" type="password" placeholder="Ingresa tu contraseña" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" (click)="guardarCambios()">Guardar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
