.welcome-text {
    font-size: 30px;
    font-weight: bold;
    color: #3880ff; /* Cambia el color según prefieras */
    text-align: center; /* Opcional: para centrar el texto */
    margin: 16px 0; /* Ajusta el espacio alrededor del texto */
  }