<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido/a {{username}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Nombre:</strong> {{nombre}}</p>
      <p><strong>Apellido:</strong> {{apellido}}</p>
      <p><strong>Nivel de Educación:</strong> {{nivelEducacion}}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{fechaNacimiento}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>