<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{ username }}</ion-title> <!-- Muestra correctamente el nombre de usuario -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido/a {{ username }}</ion-card-title>
      <!-- El nombre de usuario debe aparecer correctamente aquí -->
    </ion-card-header>

    <ion-card-content>
      <p><strong>Nombre:</strong> {{ nombre }}</p>
      <p><strong>Apellido:</strong> {{ apellido }}</p>
      <p><strong>Tipo de Usuario:</strong> {{ tipoUsuario }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ fechaNacimiento | date:'dd/MM/yyyy' }}</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="tipoUsuario === 'estudiante'">
    <ion-button (click)="editarDatos()">Editar mis Datos</ion-button>
    <ion-button (click)="escaneoQR()">Estoy Presente</ion-button>
  </div>
  <div *ngIf="tipoUsuario === 'profesor'">
    <ion-button (click)="editarDatos()">Editar mis Datos</ion-button>
    <ion-button (click)="registrarAsistencia()">Registrar Asistencia</ion-button>
  </div>
</ion-content>